#btnManageExpenditure,#btnBack{
    -fx-background-color: white;
}#btnBack {
     -fx-background-color: black;
 }#btnAddExpenditure{
     -fx-background-color: green;
}#btnAddExpenditure:hover {
      -fx-background-color: linear-gradient(from 82% 90% to 90% 90%, #ffffff, #06c2ae);
  }#btnClear{
    -fx-background-color: yellow;
}#btnClear:hover{
     -fx-background-color: linear-gradient(from 82% 90% to 90% 90% , #ffffff, #eadc24);
 }