#btnManagePublishers{
    -fx-background-color: white;
}#btnAddPublisher{
     -fx-background-color: green;
}#btnBack{
      -fx-background-color: black;
}#btnAddPublisher:hover{
     -fx-background-color: linear-gradient(from 82% 90% to 90% 90% , #ffffff, #06c2ae);
 }
#btnClear,#btnClear2{
    -fx-background-color: yellow;
}#btnClear:hover,#btnClear2:hover{
     -fx-background-color: linear-gradient(from 82% 90% to 90% 90% , #ffffff, #eadc24);
 }